<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Financiamiento</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/empresa.css">
    <link rel="stylesheet" href="../favicon/style.css">
</head>

<body>
    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li><a href="../empresa.html">Servicios de consultoría</a></li>
                <li><a href="technology.html">Servicios de tecnología</a></li>
                <li class="select"><a href="#">Financiamiento <i class="icon-arrow-right2"></i></a></li>
                <li><a href="#">Capacitaciones y habilidades (US)</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <nav class="content-title">
            <h1 class="title">Financiamiento</h1>
        </nav>
        <article class="article">
            <p>Enlaces rápidos</p>
            <ul class="links">
                <li><a href="#">Soluciones de financiamiento</a></li>
                <li><a href="#">Opciones de pago</a></li>
            </ul>
        </article>
        <aside class="aside">
            <p>CFOs, está transformando su empresa para el crecimiento?</p>
            <img class="img-presentatio" src="../imgs/trabajo-en-equipo.jpg">
            <a href="#">
                <h3>Ayude a su empresa a buscar nuevas oportunidades para impulsar la innvovación. Descubra IBM Global Financing.</h3>
            </a>
        </aside>
    </section>
    <script src="" async defer></script>
</body>

</html>