<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Servicios de Tecnología</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/empresa.css">
    <link rel="stylesheet" href="../favicon/style.css">
</head>

<body>
    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li><a href="../empresa.html">Servicios de consultoría</a></li>
                <li class="select"><a href="#">Servicios de tecnología <i class="icon-arrow-right2"></i></a></li>
                <li><a href="financing.html">Financiamiento</a></li>
                <li><a href="#">Capacitaciones y habilidades (US)</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <nav class="content-title">
            <h1 class="title">Servicios de tecnología</h1>
        </nav>
        <article class="article">
            <p class="sub-title">Servicios para ayudarles a diseñar, construir y ejecutar sistemas fundamentales.</p>
            <p>Enlaces rápidos</p>
            <ul class="links">
                <li><a href="#">Servicios de movilidad</a></li>
                <li><a href="#">Estrategía de red</a></li>
                <li><a href="#">Resiliencia y continuidad de los negocios</a></li>
                <li><a href="#">Servicios de soporte tecnológico</a></li>
                <li><a href="#">Servicios administrados en la nube</a></li>
            </ul>
        </article>
        <aside class="aside">
            <p>El camino hacia lo cognitivo pasa por cloud híbrida</p>
            <img class="img-presentatio" src="../imgs/auroras.jpg">
            <a href="#">
                <h3>Simplifique la gestión de infraestructuras híbridas a través de la automatización y del análisis, desde una única fuente. Conozca más.</h3>
            </a>
        </aside>
    </section>
    <script src="" async defer></script>
</body>

</html>